/* style.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Inter',sans-serif;
background:#f6f1e8;
color:#1d1d1d;
overflow-x:hidden;
}

img{
width:100%;
display: flexbox;
border-radius:18px;
}

a{
text-decoration:none;
color:inherit;
}

.container{
width:90%;
max-width:1300px;
margin:auto;
}

/* NAV */

.navbar{
position:fixed;
top:0;
width:100%;
z-index:999;
background:rgba(20,20,20,.35);
backdrop-filter:blur(12px);
border-bottom:1px solid rgba(255,255,255,.08);
}

.nav-content{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 0;
}

.logo img{
height:50px;
width:auto;
display:block;
}
.logo{
display:flex;
align-items:center;
}
.menu{
display:flex;
gap:28px;
list-style:none;
color:white;
font-size:14px;
}

.menu a{
display:inline-block;
transition: all 0.3s ease;
}

.menu a:hover{
transform:scale(1.08);
text-shadow:0 0 10px rgba(255,255,255,0.5);
}



/* HERO */

.hero{
min-height:100vh;
background:url(img/fondo\ web.jpg) center/cover;
position:relative;
display:flex;
align-items:center;
}

.overlay{
position:absolute;
inset:0;
background:linear-gradient(to right,rgba(0,0,0,.65),rgba(0,0,0,.25));
}

.hero-grid{
position:relative;
z-index:2;
display:grid;
grid-template-columns:1.2fr .8fr;
gap:40px;
align-items:center;
}

.eyebrow{
font-size:12px;
letter-spacing:3px;
text-transform:uppercase;
margin-bottom:18px;
opacity:.8;
}

.hero .eyebrow{
color:#ddd;
}

h1{
font-family:'Cormorant Garamond',serif;
font-size:110px;
line-height:.88;
color:white;
margin-bottom:22px;
}

.hero-text{
color:#eee;
font-size:20px;
max-width:540px;
line-height:1.7;
margin-bottom:28px;
}

.hero-buttons{
display:flex;
gap:16px;
flex-wrap:wrap;
}

.btn{
padding:14px 24px;
border-radius:40px;
transition:.3s;
}

.fill{
background:#8f6f55;
color:white;
}

.ghost{
border:1px solid rgba(255,255,255,.4);
color:white;
}

.btn:hover{
transform:translateY(-3px);
}

/*Proyecto*/

.texto-extra{
display:none;
margin-top:20px;
}

.btn-leer{
padding:14px 32px;
margin-top:28px;
background:rgba(255,255,255,.12);
border:1px solid rgba(255,255,255,.18);
border-radius:40px;
color:#1f1f1f;
font-size:15px;
font-weight:500;
cursor:pointer;
backdrop-filter:blur(10px);
transition:all .35s ease;
display:inline-block;
}

.btn-leer:hover{
transform:translateY(-3px);
box-shadow:0 8px 20px rgba(0,0,0,.12);
background:rgba(255,255,255,.25);
}

.frase{
background:#9a7455;
padding:55px 20px;
position:relative;
overflow:hidden;
}

.frase-content{
max-width:1200px;
margin:auto;
text-align:center;
position:relative;
}

.comillas{
display:block;
font-size:100px;
color:rgba(255,255,255,.8);
line-height:1;
font-family:'Cormorant Garamond', serif;
}

.frase p{
color:white;
font-family:'Cormorant Garamond', serif;
font-size:34px;
line-height:1.4;
margin:10px 0;
font-weight:300;
}

/* GLASS */

.glass-card,
.glass-box,
.glass-panel{
background:rgba(255,255,255,.12);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.18);
box-shadow:0 20px 40px rgba(0,0,0,.15);
border-radius:24px;
}

.glass-card{
padding:38px;
color:white;
}

.glass-card h3{
font-family:'Cormorant Garamond',serif;
font-size:42px;
margin:10px 0;
}

.mini-title{
font-size:12px;
letter-spacing:2px;
text-transform:uppercase;
opacity:.8;
}

/* SECTIONS */

section{
padding:110px 0;
}

.section-light{
background:#f6f1e8;
}

.section-dark{
background:#182019;
color:white;
}

.split{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;
}

h2{
font-family:'Cormorant Garamond',serif;
font-size:62px;
line-height:1;
margin-bottom:20px;
font-weight:500;
}

p{
line-height:1.8;
font-size:17px;
color:inherit;
}

.glass-panel{
padding:14px;
}

/* GALLERY */

.galeria{
text-align:center;
padding:80px 20px;
}

.galeria .eyebrow{
color:#b79858;
letter-spacing:4px;
text-transform:uppercase;
font-size:14px;
margin-bottom:18px;
}

.galeria h2{
font-family:'Cormorant Garamond', serif;
font-size:72px;
font-weight:400;
margin:0 auto 60px;
}

.grid-gallery{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:24px;
}

.columna{
display:flex;
flex-direction:column;
gap:24px;
}

.columna img{
width:100%;
height:280px;
object-fit:cover;
border-radius:28px;
transition:.3s;
}

.columna img:hover{
transform:scale(1.03);
}

.offset{
margin-top:90px;
}

/* CARDS */

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:24px;
margin-top:45px;
}

.person{
padding:30px;
text-align:center;
}

.person h3{
font-family:'Cormorant Garamond',serif;
font-size:34px;
margin-bottom:10px;
}

.person p{
font-size:15px;
line-height:1.6;
color:rgba(255,255,255,.85);
}
/* CTA */

.center{
text-align:center;
}

.center-btns{
justify-content:center;
margin-top:28px;
}

.dark-btn{
color:#1d1d1d;
border:1px solid #1d1d1d;
}

/* FOOTER */

footer{
background:#0f1310;
color:#ccc;
padding:35px;
text-align:center;
font-size:14px;
}

/* RESPONSIVE */

@media(max-width:950px){

.hero-grid,
.split,
.grid-gallery,
.cards{
grid-template-columns:1fr;
}

.menu{
display:none;
}

h1{
font-size:72px;
}

h2{
font-size:48px;
}

.hero{
padding-top:120px;
}

}